<table class="table">
    <thead class="thead-light">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{  "%.2f"|format(product.price) }}</td>
            <td>{{ product.stock }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>